<div class="intro">
    <p>Enter your name and start chatting!</p>
    <div class="start-chat">
        {{input placeholder="jo" value=userName}}
        <button {{action "userSubmittedName"}}>
            Start Chat
        </button>
    </div>




</div>
